@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply text-white bg-custom-gradient;
  }
  h1, h2, h3 {
    @apply mb-4 mt-4 text-xl font-bold text-white;
    font-family: 'Baloo 2', cursive;
  }
  a {
    @apply text-white hover:text-light-blue;
    transition: color 0.3s; /* Smooth transition for hover effects */
  }
  button {
    @apply px-4 py-2 text-white;
    transition: background-color 0.3s; 
    &:hover {
      @apply bg-light-blue;
    }
  }
  /* For accessibility, check this */
  input, textarea {
    @apply text-white bg-gray-800 border-none;
    &:focus {
      @apply ring-2 ring-light-blue;
    }
  }
  
  .row-1-card {
    @apply p-6 rounded-lg shadow-md bg-violet-950;
  }
  .row-2-card {
    @apply w-2/3 p-6 mx-auto rounded-lg shadow-md bg-violet-950;
  }
  .row-3-card {
    @apply p-6 rounded-lg shadow-md bg-violet-950;
  }
  .card-content {
    @apply rounded-lg;
  }
  .card-content-li {
    @apply p-4 text-purple-500 bg-gray-100 border rounded-lg shadow-md
  }
  .carousel-button {
    @apply absolute p-2 m-2 transform -translate-y-1/2 rounded-full bg-violet-800 top-1/2;
  }
}

.small-octocat {
  width: 60%;
}

/****************** Getting Started Modal ***********************/

.carousel-slide {
  @apply p-5 text-center;
}

.carousel-slide h1 {
  @apply text-2xl font-bold text-purple-900;
}

.carousel-slide h3 {
  @apply text-xl text-purple-900;
}

.carousel-slide p {
  @apply mt-4;
  @apply mb-4;
}