@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply text-white bg-custom-gradient;
  }
  h1 {
    @apply mt-4 text-xl font-bold text-white;
    font-family: 'Baloo 2', cursive;
  }
  .subtitle {
    @apply mt-6 text-sm text-white;
    font-family: 'Baloo 2', cursive;
  }
  h2 {
    @apply mt-4 mb-4 text-xl font-bold text-white;
    font-family: 'Baloo 2', cursive;
  }
  h3 {
    @apply p-1 text-sm font-bold text-white;
    font-family: 'Baloo 2', cursive;
  }
  a {
    @apply text-white hover:text-light-blue;
    transition: color 0.3s; /* Smooth transition for hover effects */
  }
  button {
    @apply  text-white;
    transition: background-color 0.3s; 
  }
  
  input, textarea {
    @apply text-xl text-white;
    &:focus {
      @apply ring-2 ring-purple-500;
    }
  }
 
  .no-shadow.flex-grow {
    box-shadow: none !important;
  }
  
  .row-1-card {
    @apply p-6 rounded-lg shadow-md bg-violet-950 shadow-gray-500/50;
  }
  .row-2-card {
    @apply w-2/3 p-6 mx-auto rounded-lg shadow-md bg-violet-950 shadow-gray-500/50;
  }
  .row-3-card {
    @apply p-6 rounded-lg shadow-md bg-violet-950 shadow-gray-500/50;
  }
  .card-content {
    @apply rounded-lg;
  }
  .card-content-li {
    @apply p-2 text-purple-500 bg-gray-100 rounded-lg shadow-md 
  }
  .carousel-button {
    @apply absolute p-1 m-2 transform -translate-y-1/2 rounded-full bg-violet-800 top-1/2;
  }
}

.small-octocat {
  width: 60%;
}

/****************** Getting Started Modal ***********************/

.carousel-slide {
  @apply p-5 text-center;
}

.carousel-slide h1 {
  @apply text-2xl font-bold text-purple-900;
}

.carousel-slide h3 {
  @apply text-xl text-purple-900;
}

.carousel-slide p {
  @apply mt-4;
  @apply mb-4;
}