@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-deep-blue;
  }
  h1, h2, h3 {
    @apply font-bold text-white;
    font-family: 'Baloo 2', cursive;
  }
  a {
    @apply text-white hover:text-light-blue;
    transition: color 0.3s; /* Smooth transition for hover effects */
  }
  button {
    @apply font-medium text-white bg-gradient-to-r from-primary to-secondary;
    transition: background-color 0.3s; 
    &:hover {
      @apply bg-light-blue;
    }
  }
}

